.LotteryComponent {
    border: solid 3px mediumslateblue;
    padding: 1em 0 2em 0;
    text-align:  center;
    margin:  1em auto auto;
    border-radius: 10px;
    width: 40em;
}

.LotteryComponent button {
    background-color: darkorange;
    color:black;
    font-size: 120%;
    border-radius: 10;
    margin-top: 2em;
}